<!DOCTYPE html>
<html>
<head>
  <title>Choral Explanations</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<%= yield %>

<script type="text/javascript">
  window.DEFAULT_SETTINGS = {
    apiUrl: '<%= application_api_url %>',
    csrfToken: '<%= form_authenticity_token %>'
  };
</script>

<%= javascript_include_tag 'application' %>

</body>
</html>
